<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

   <h1>Welcome to my <%= title %> Page</h1>
   <br>
   <h4>My motto is the golden rule:</h4>
   <h6><q>Do unto others as you would have them do unto you.</q></h6>

   <style>
      html {
  height: 100%;
  margin: 0;
}
      body {
        background: radial-gradient(aqua, white);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        color: black;
      }
      </style>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

