<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

<h1><%= title %></h1>
<h3>1. Calculator</h3>
<p>A simple calculator made using c#. This calculator features all the function of a regular calculator with 4 scientifc functions. It also has a night mode.</p>
<img src="/Assets/images/calculator1.jpg" width="20%" height="20%">
<img src="/Assets/images/calculator2.jpg" width="20%" height="20%">
<br><br>

<h3>2. Multiple Choice Quiz</h3>
<p>An 8 question quiz with 4 multiple choice made using java. Congratulates you if you answered correctly and encourages you if answered incorrectly. Displays your score in the end.</p>
<img src="/Assets/images/quiz1.jpg"width="30%" height="30%">
<img src="/Assets/images/quiz2.jpg"width="20%" height="20%">
<img src="/Assets/images/quiz3.jpg"width="20%" height="20%">
<br><br>

<h3>3. Bug Smusher</h3>
<p>A simple game that randomly makes a "bug" appear and smushes it by clicking on it. This game is mad using javascript.</p>
<img src="/Assets/images/game1.jpg"width="30%" height="30%">
<img src="/Assets/images/game2.jpg"width="30%" height="30%">
<p></p>



<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

