<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
   <h1><%= title %></h1>
   <h3>Programming lanuages:</h3>
   <ul>
      <li>Javascript</li>
      <li>HTML</li>
      <li>Java</li>
      <li>C#</li>
      <li>Python</li>
   </ul>

   <style>
      body {
        background-image: url('/Assets/images/matrix.gif');
        color: white;
      }
      </style>
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

